@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url("../Images/backgrounds/background_4.jpg") no-repeat;
	background-size: cover;
	color: white;
}

header{
	width: 1200px;
	margin: 0px auto;
}

.banner-top img{
	width: 1200px;
}

#logo{
	float: left;
}

#logo img{
	width: 100px;
}

#dn{
	float: right;
	padding-top: 5px;
}

#dn a{
	font-family: Verdana, Geneva, sans-serif;
	font: 13px bold;
	color: #012266;
	text-decoration:  none;
}

#dn a:hover{
	color: #D10000;
}

#dn img{
	width: 30px;
}

nav{
	clear: both;
	height: 45px;
	background: #FCAF17;
}

#subnav{
	width: 1200px;
	margin: 0px auto;
}

nav ul{
	float: left;
	list-style-type: none;
	margin-left: 50px;
}

nav ul li{
	float: left;
	padding: 11px 15px;
}

nav ul li a{
	color: white;
	font-size: 16px;
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	border-bottom: 5px solid white;
}

#subnav>div{
	float: right;
	background: #FFFFFF;
	padding-left: 10px;
	margin-top: 5px;
	margin-right: 5px;
	height: 34px;
	width: 380px;
	border: 0.5px solid #CED2DD;
	border-radius: 5px;
}

#subnav>div input[type=search]{
	float: left;
	height: 30px;
	width: 250px;
	font-size: 14px;
	border-style: none;
	outline: none;
}

#subnav>div input[type=submit]{
	float: right;
	height: 100%;
	width: 80px;
	background: #F7F2E7;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0.5px solid #CED2DD;
	font-size: 14px;
	border: white;
}

#subnav>div input[type=submit]:hover{
	cursor:pointer;
}
#core{
    clear: both;
}
table{
    background-color: whitesmoke;
}
table td{
    color:black;
}
table img{
    width: 300px;
    height: 500px;
}
#name{
    padding: 10px 0px 10px 0px;
}
#name>p {
    font-weight: bold;
}
span{
    text-decoration: line-through;
    color:gray;
}
#cost{
    color: red;
}
#info{
    padding: 15px;
}
#button{
    width: 80px;
    height: 26px;
    float: right;
}
.product-container{
	width: 900px;
	margin: 40px 70px;
}


.product-container > p{
	height: 40px;
	width: 500px;
	text-align: center;
	color: #FCAF17;
	font-size: 30px;
	font-weight: bold;
	margin: 10px auto;
	border: 2px solid #FCAF17;
	background: white;
}

.product-show{
	width: 180px;
	height: 320px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
    float: left;
    padding-left: 100px;
}

.product-show .cost>a{
	color: black;
	text-decoration: none;
}

.product-show .cost>a:hover{
	color: #FCAF17;
}

.product-show .cost>p{
	color: #fc3917;
}

.product-show .cost>p span{
	color: #8F8C8C;
	text-decoration: line-through;
}

.product-show img{
	width: 180px;
	
}
.other{
    margin-top: 15px;
    background-color: #F7F2E7;
}
.other #d1{
    padding: 10px 0px 10px 0px;
    color: black;
    background-color: #FCAF17;
    text-transform: uppercase;
    font-weight: bold;
}